## Evolution of patenting activity in Europe - An analysis of technological fields

In this notebook we will study how the patenting activty in Europe has evolved, focusing the analysis on the evolution of individual technological fields as defined by the World Intellectual Property Organization (WIPO). We will obtain the raw data from PATSTAT Global, process the resulting DataFrame in TIP, and use a third party library to present the results in an engaging way. 

### The WIPO technology fields
WIPO has created a comprehensive technology concordance tparticularly useful when studying general technology trends, where patent classification schemes may be too granular. This technology concordance table is based on the International Patent Classification (IPC), which is a highly detailed technology classification system applied to patents worldwide. The WIPO technology concordance comprises 35 technology fields, grouped into five higher-level technology sectors, namely Electrical engineering, Instruments, Chemistry, Mechanical engineering, and Other fields.

The database PATSTAT Global provides this concordance between an application's IPC symbols and the WIPO's technology field, in table `TLS230_APPLN_TECHN_FIELD` and that will be the basis of our analysis.

## Initialization
As with any analysis involving PATSTAT, we need to initialize the client. This notebook is published with the client initialized in production with `env='PROD'`. If you want to modify it, we recommend you initialze the client with `env='TEST'` to reduce the time to process your queries. When you are happy with your code and are ready to conduct the real analysis, you can change the environment to production.

We will be working with object relational mapping (ORM) as the recommended method of retrieving data from PATSTAT. For that need to import the three PATSTAT tables we will be working with.

In [1]:
from epo.tipdata.patstat import PatstatClient

# Initialize the PATSTAT client
patstat = PatstatClient(env='PROD')

# Access ORM
db = patstat.orm()

# Importing the necessary tables
from epo.tipdata.patstat.database.models import TLS201_APPLN, TLS901_TECH_FIELD_IPC, TLS230_APPLN_TECHN_FIELD

# Retrieving the data

In [3]:
q = db.query(
    TLS201_APPLN.appln_id,
    TLS201_APPLN.appln_filing_year.label('Year'),
    TLS230_APPLN_TECHN_FIELD.techn_field_nr,
    TLS230_APPLN_TECHN_FIELD.weight
).join(
    TLS230_APPLN_TECHN_FIELD, TLS201_APPLN.appln_id == TLS230_APPLN_TECHN_FIELD.appln_id
).filter(
    TLS201_APPLN.appln_filing_year <= 2022, 
    TLS201_APPLN.appln_auth == 'EP',
)

res = patstat.df(q)
print (len(control))
# res should be larger than control since there are more than one technical field per application in some cases 
print (len(res))
res

4472524
6725372

          appln_id  Year  techn_field_nr    weight
0         57049316  2009              22  0.076923
1        365818931  2005              22  0.200000
2        531427378  2019              22  0.500000
3        323978875  2010              22  0.166667
4         16014792  2003              22  0.200000
...            ...   ...             ...       ...
6725367  472111056  2016              35  1.000000
6725368  542847099  2020              35  0.500000
6725369   16323747  2006              35  1.000000
6725370   16713823  1988              35  1.000000
6725371  488586830  2017              35  0.625000

[6725372 rows x 4 columns]

# Get the top weight per application
To simplyfy the analysis, we want the top weight per each application. We first get the indices of the top weight per application

In [5]:
max_weight_indices = res.groupby('appln_id')['weight'].idxmax()

max_weight_indices

appln_id
1             840316
2            3262701
3            4778767
4            1731950
5            1777783
              ...
603870177     128631
603878831     546834
604061543    2626863
604120620    5538119
604120624     573141
Name: weight, Length: 4294450, dtype: int64

# Using the index to find the sector number
With the indices of the top weight per application we filter the dataframe to get only the top field per unique application

In [6]:
# Step 2: Use these indices to filter the DataFrame
top_weights = res.loc[max_weight_indices]
top_weights

          appln_id  Year  techn_field_nr    weight
840316           1  2000               3  0.333333
3262701          2  1992              15  0.800000
4778767          3  2000              24  1.000000
1731950          4  2000               8  1.000000
1777783          5  2000               8  1.000000
...            ...   ...             ...       ...
128631   603870177  2019               1  1.000000
546834   603878831  2009               2  1.000000
2626863  604061543  2021              13  1.000000
5538119  604120620  2016              29  1.000000
573141   604120624  2020               2  1.000000

[4294450 rows x 4 columns]

## Drop the weight column
We do not need to see the weight column anymore.

In [7]:
top_weights = top_weights.drop(columns=['weight'])
top_weights

          appln_id  Year  techn_field_nr
840316           1  2000               3
3262701          2  1992              15
4778767          3  2000              24
1731950          4  2000               8
1777783          5  2000               8
...            ...   ...             ...
128631   603870177  2019               1
546834   603878831  2009               2
2626863  604061543  2021              13
5538119  604120620  2016              29
573141   604120624  2020               2

[4294450 rows x 3 columns]

In [8]:
# Group by 'Year' and 'techn_field_nr' and count the number of 'appln_id'
aggregated = top_weights.groupby(['Year', 'techn_field_nr'])['appln_id'].count().reset_index()

# Rename the columns for clarity
#aggregated.columns = ['Year', 'field', 'Applications']

# Display the aggregated DataFrame
aggregated

      Year  techn_field_nr  appln_id
0     1978               1       202
1     1978               2        45
2     1978               3        35
3     1978               4         9
4     1978               5        10
...    ...             ...       ...
1562  2022              31      1872
1563  2022              32      4137
1564  2022              33      1333
1565  2022              34      1554
1566  2022              35      1898

[1567 rows x 3 columns]

# Retrieving the names of the technology fields

In [10]:
q = db.query(
    TLS901_TECH_FIELD_IPC.techn_field_nr,
    TLS901_TECH_FIELD_IPC.techn_field,
    
)
fields  = patstat.df(q)

fields

     techn_field_nr                              techn_field
0                 1  Electrical machinery, apparatus, energy
1                 1  Electrical machinery, apparatus, energy
2                 1  Electrical machinery, apparatus, energy
3                 1  Electrical machinery, apparatus, energy
4                 1  Electrical machinery, apparatus, energy
..              ...                                      ...
765              35                        Civil engineering
766              35                        Civil engineering
767              35                        Civil engineering
768              35                        Civil engineering
769              35                        Civil engineering

[770 rows x 2 columns]

## Drop the duplicates
We just need one instance of each tech field number and its description, so we drop the duplicates.

In [11]:
unique_fields = fields.drop_duplicates()
unique_fields

     techn_field_nr                              techn_field
0                 1  Electrical machinery, apparatus, energy
30                2                  Audio-visual technology
48                3                       Telecommunications
58                4                    Digital communication
61                5            Basic communication processes
71                6                      Computer technology
88                7                IT methods for management
89                8                           Semiconductors
91                9                                   Optics
101              10                              Measurement
146              11         Analysis of biological materials
147              12                                  Control
160              13                       Medical technology
172              14                   Organic fine chemistry
181              15                            Biotechnology
189              16                          Pharmaceuticals
213              17       Macromolecular chemistry, polymers
220              18                           Food chemistry
246              19                Basic materials chemistry
279              20                    Materials, metallurgy
295              21              Surface technology, coating
307              22     Micro-structural and nano-technology
311              23                     Chemical engineering
364              24                 Environmental technology
382              25                                 Handling
395              26                            Machine tools
438              27                 Engines, pumps, turbines
473              28               Textile and paper machines
523              29                   Other special machines
569              30          Thermal processes and apparatus
599              31                      Mechanical elements
620              32                                Transport
666              33                         Furniture, games
683              34                     Other consumer goods
732              35                        Civil engineering

# Merging the two dataframes

In [12]:
merged = aggregated.merge(unique_fields, on=['techn_field_nr', 'techn_field_nr'], how='inner')
merged

      Year  techn_field_nr  appln_id                              techn_field
0     1978               1       202  Electrical machinery, apparatus, energy
1     1978               2        45                  Audio-visual technology
2     1978               3        35                       Telecommunications
3     1978               4         9                    Digital communication
4     1978               5        10            Basic communication processes
...    ...             ...       ...                                      ...
1562  2022              31      1872                      Mechanical elements
1563  2022              32      4137                                Transport
1564  2022              33      1333                         Furniture, games
1565  2022              34      1554                     Other consumer goods
1566  2022              35      1898                        Civil engineering

[1567 rows x 4 columns]

# Drop the column for tech field number and rename

In [14]:
final = merged.drop(columns=['techn_field_nr'])
final = final.rename(columns={'Year': 'Year', 'appln_id': 'Applications', 'techn_field': 'Field'})
final

      Year  Applications                                    Field
0     1978           202  Electrical machinery, apparatus, energy
1     1978            45                  Audio-visual technology
2     1978            35                       Telecommunications
3     1978             9                    Digital communication
4     1978            10            Basic communication processes
...    ...           ...                                      ...
1562  2022          1872                      Mechanical elements
1563  2022          4137                                Transport
1564  2022          1333                         Furniture, games
1565  2022          1554                     Other consumer goods
1566  2022          1898                        Civil engineering

[1567 rows x 3 columns]

# Pivot the dataframe

In [15]:
# Pivot the DataFrame with 'Year' as the index and 'Field' as the columns
pivoted = final.pivot(index='Year', columns='Field', values='Applications')

# Replace NaN values with 0
pivoted = pivoted.fillna(0)

# Convert the values to integers
pivoted = pivoted.astype(int)

# Display the pivoted DataFrame
pivoted

Field,Analysis of biological materials,Audio-visual technology,Basic communication processes,Basic materials chemistry,Biotechnology,Chemical engineering,Civil engineering,Computer technology,Control,Digital communication,...,Organic fine chemistry,Other consumer goods,Other special machines,Pharmaceuticals,Semiconductors,"Surface technology, coating",Telecommunications,Textile and paper machines,Thermal processes and apparatus,Transport
Year,,,,,,,,,,,,,,,,,,,,,
1978,7,45,10,141,54,94,100,15,51,9,...,697,15,136,154,106,41,35,70,71,106
1979,70,294,123,515,125,346,411,211,156,68,...,1531,129,439,349,232,217,194,366,273,384
1980,115,586,282,895,292,689,675,455,271,125,...,1901,286,851,465,483,376,381,657,465,682
1981,144,783,348,1022,371,852,881,659,372,126,...,2259,436,1056,589,551,566,508,915,699,956
1982,145,1041,421,1115,466,883,962,732,431,122,...,2341,473,1310,635,665,511,523,927,590,1033
1983,202,1389,482,1151,601,1018,1090,862,464,195,...,2480,553,1364,800,696,539,658,1033,587,1093
1984,242,1601,567,1285,954,1136,1323,972,541,223,...,2738,615,1646,910,801,739,683,1257,682,1275
1985,272,1682,571,1251,1110,1275,1321,1071,491,271,...,2901,667,1717,1148,895,750,805,1184,661,1349
1986,280,1863,695,1442,1274,1400,1413,1250,564,281,...,2775,720,1890,1363,958,805,915,1303,676,1591
1987,317,2033,623,1638,1427,1427,1331,1381,617,270,...,3063,776,1985,1497,977,880,962,1372,640,1671
1988,410,2280,812,1684,1635,1524,1635,1584,772,371,...,3420,812,2115,1732,1248,986,1068,1783,691,1976
1989,375,2622,863,2006,1903,1648,1730,2028,822,434,...,3625,964,2202,1918,1383,1051,1283,2039,697,2093
1990,377,3111,908,2118,2092,1919,1947,2469,837,587,...,3713,966,2498,2294,1636,1109,1612,2318,801,2290
1991,329,2955,871,1943,2102,1823,1669,2596,840,623,...,3436,816,2204,2167,1592,1038,1656,2099,716,2054
1992,337,2978,825,1989,2073,1814,1607,2373,764,660,...,3434,867,2282,2436,1509,1076,1828,2130,823,2138
1993,364,2943,853,2071,1967,1815,1794,2372,798,803,...,3378,899,2113,2384,1432,956,1867,2065,781,2088
1994,374,2879,931,2243,2084,1997,1850,2532,802,827,...,3340,903,2125,2815,1415,994,2087,2108,896,2218
1995,377,3019,819,2229,2370,1841,1894,2825,929,1037,...,3485,966,2276,2871,1513,1059,2416,2237,873,2397
1996,441,3457,972,2410,2597,1960,1964,3101,955,1382,...,3552,1061,2308,3429,1665,1154,2729,2431,903,2957
1997,473,3782,919,2695,3034,2102,2364,3473,1155,1845,...,4099,1173,2553,3838,1904,1260,3638,2489,1071,3402
1998,559,4114,1058,2623,3776,2319,2636,4085,1257,2447,...,4107,1320,2784,4503,2169,1332,4522,2856,1192,3753
1999,691,4616,1166,2805,4289,2411,2824,4698,1404,3527,...,4193,1317,2838,5370,2378,1497,5095,2952,1179,4137
2000,760,4945,1350,2960,4453,2728,2994,5852,1449,4386,...,4409,1535,3109,6599,2930,1530,5547,3119,1224,4551
2001,974,5336,1453,2939,4851,2773,2953,6280,1746,5338,...,4606,1516,3051,6958,2967,1666,5482,3019,1308,4826
2002,1029,5384,1367,2858,4708,2716,2807,6481,1676,5640,...,4608,1549,3247,7342,2895,1793,4768,2908,1306,4675
2003,1059,6344,1294,2802,4778,2851,2866,6555,1643,5917,...,5100,1783,3200,6962,3106,1855,4444,3259,1540,5291
2004,1139,6737,1191,2738,4717,2911,3204,7665,1829,6676,...,5968,2019,3219,6363,3140,1924,4750,2980,1664,5452
2005,1262,6733,1227,3208,4663,3013,3343,8386,2005,7202,...,6039,2078,3232,6844,3224,2057,5029,3129,1906,5921
2006,1388,6366,1177,3514,4851,3062,3368,8389,1989,8278,...,5869,2238,3377,7725,3454,2062,5117,2860,1915,6105
2007,1424,5849,1124,3690,4755,3131,3510,7877,1856,8876,...,5616,2393,3352,7213,3273,2018,4771,2607,1965,6122
2008,1418,5368,1013,3482,4656,3126,3652,7543,1998,9263,...,5051,2413,3512,6871,3150,1978,4525,2643,2074,6275
2009,1375,4540,954,3377,4394,3023,3555,7481,1726,8840,...,5071,2222,3290,6347,3389,1905,4062,2201,2265,5300
2010,1282,4632,1034,3438,4266,3011,3937,7855,1650,9423,...,4739,2535,3570,6187,3642,2010,4142,1921,2542,5601
2011,1325,4672,893,3448,4123,3215,4000,8737,1615,10090,...,4346,2554,3769,6234,3415,2094,3971,2073,2527,6355
2012,1347,4794,1026,3531,4184,3245,4175,9069,1773,10899,...,4368,2623,3904,5859,3154,2096,3844,2057,2422,6438
2013,1304,4520,913,3689,4326,3267,4138,10175,1877,12196,...,4151,2729,4043,6125,3161,2149,4166,2019,2503,6597
2014,1209,4402,1000,3469,4815,3250,4046,10750,2046,12397,...,4381,2959,4475,6531,3048,2298,3707,2232,2386,6881
2015,1181,4379,1024,3483,4776,3203,3937,10306,2196,12565,...,4256,3004,4629,6373,2913,2255,3706,2217,2552,6726
2016,1152,4191,956,3620,5188,3425,3827,10495,2305,12106,...,4110,3420,5007,6609,2745,2381,3682,2423,2576,7292
2017,1207,4481,992,3663,4969,3373,3972,10743,2594,13024,...,3969,3382,5266,6754,3243,2373,3870,2406,2485,7745
2018,1180,4391,1022,3385,5115,3358,3965,10955,2795,14428,...,3874,3286,5543,6793,2957,2538,3985,2358,2634,7874
2019,1112,5129,965,3303,5508,3418,3786,12884,2833,14143,...,3976,3801,5346,7346,3204,2377,3832,2312,2584,8031
2020,1137,5571,1012,3283,5832,3321,3718,13896,2781,15338,...,4084,3942,5282,8017,3464,2523,4172,2038,2486,7604
2021,1133,4446,825,3304,6367,3171,3596,13230,2702,13240,...,4007,3673,4855,8516,3412,2343,3665,1804,2226,7383
2022,414,2129,514,1181,1859,1372,1898,6728,1396,5212,...,1243,1554,2581,2297,2104,1070,1682,900,1337,4137

# Remove odd years to smoothen the transitions

In [16]:
# Filter the DataFrame to include only even years
pivoted_even_years = pivoted[pivoted.index % 2 == 0]

# Display the filtered DataFrame
pivoted_even_years

Field,Analysis of biological materials,Audio-visual technology,Basic communication processes,Basic materials chemistry,Biotechnology,Chemical engineering,Civil engineering,Computer technology,Control,Digital communication,...,Organic fine chemistry,Other consumer goods,Other special machines,Pharmaceuticals,Semiconductors,"Surface technology, coating",Telecommunications,Textile and paper machines,Thermal processes and apparatus,Transport
Year,,,,,,,,,,,,,,,,,,,,,
1978,7,45,10,141,54,94,100,15,51,9,...,697,15,136,154,106,41,35,70,71,106
1980,115,586,282,895,292,689,675,455,271,125,...,1901,286,851,465,483,376,381,657,465,682
1982,145,1041,421,1115,466,883,962,732,431,122,...,2341,473,1310,635,665,511,523,927,590,1033
1984,242,1601,567,1285,954,1136,1323,972,541,223,...,2738,615,1646,910,801,739,683,1257,682,1275
1986,280,1863,695,1442,1274,1400,1413,1250,564,281,...,2775,720,1890,1363,958,805,915,1303,676,1591
1988,410,2280,812,1684,1635,1524,1635,1584,772,371,...,3420,812,2115,1732,1248,986,1068,1783,691,1976
1990,377,3111,908,2118,2092,1919,1947,2469,837,587,...,3713,966,2498,2294,1636,1109,1612,2318,801,2290
1992,337,2978,825,1989,2073,1814,1607,2373,764,660,...,3434,867,2282,2436,1509,1076,1828,2130,823,2138
1994,374,2879,931,2243,2084,1997,1850,2532,802,827,...,3340,903,2125,2815,1415,994,2087,2108,896,2218
1996,441,3457,972,2410,2597,1960,1964,3101,955,1382,...,3552,1061,2308,3429,1665,1154,2729,2431,903,2957
1998,559,4114,1058,2623,3776,2319,2636,4085,1257,2447,...,4107,1320,2784,4503,2169,1332,4522,2856,1192,3753
2000,760,4945,1350,2960,4453,2728,2994,5852,1449,4386,...,4409,1535,3109,6599,2930,1530,5547,3119,1224,4551
2002,1029,5384,1367,2858,4708,2716,2807,6481,1676,5640,...,4608,1549,3247,7342,2895,1793,4768,2908,1306,4675
2004,1139,6737,1191,2738,4717,2911,3204,7665,1829,6676,...,5968,2019,3219,6363,3140,1924,4750,2980,1664,5452
2006,1388,6366,1177,3514,4851,3062,3368,8389,1989,8278,...,5869,2238,3377,7725,3454,2062,5117,2860,1915,6105
2008,1418,5368,1013,3482,4656,3126,3652,7543,1998,9263,...,5051,2413,3512,6871,3150,1978,4525,2643,2074,6275
2010,1282,4632,1034,3438,4266,3011,3937,7855,1650,9423,...,4739,2535,3570,6187,3642,2010,4142,1921,2542,5601
2012,1347,4794,1026,3531,4184,3245,4175,9069,1773,10899,...,4368,2623,3904,5859,3154,2096,3844,2057,2422,6438
2014,1209,4402,1000,3469,4815,3250,4046,10750,2046,12397,...,4381,2959,4475,6531,3048,2298,3707,2232,2386,6881
2016,1152,4191,956,3620,5188,3425,3827,10495,2305,12106,...,4110,3420,5007,6609,2745,2381,3682,2423,2576,7292
2018,1180,4391,1022,3385,5115,3358,3965,10955,2795,14428,...,3874,3286,5543,6793,2957,2538,3985,2358,2634,7874
2020,1137,5571,1012,3283,5832,3321,3718,13896,2781,15338,...,4084,3942,5282,8017,3464,2523,4172,2038,2486,7604
2022,414,2129,514,1181,1859,1372,1898,6728,1396,5212,...,1243,1554,2581,2297,2104,1070,1682,900,1337,4137

# Create the video

In [17]:
import bar_chart_race as bcr
bcr.bar_chart_race(
    df=pivoted_even_years,
    filename='race.mp4',
    orientation='h',
    sort='desc',
    n_bars=10,
    fixed_order=False,
    fixed_max=False,  
    steps_per_period=720,
    period_length=5000,
    interpolate_period=True,
    period_label={'x': .99, 'y': .25, 'ha': 'right', 'va': 'center'},
    period_fmt='{x:.0f}',  # Use .0f to ensure years are shown as integers
    #perpendicular_bar_func='median',
    cmap='dark12',
    title='Applications per year',
    bar_label_size=7,
    tick_label_size=7,
    scale='linear',
    fig=None,
    writer=None,
    bar_kwargs={'alpha': .7},
    filter_column_colors=True
)

ModuleNotFoundError: No module named 'bar_chart_race'

In [ ]:
from IPython.display import Video

# Ensure the correct path to your MP4 file
Video("race.mp4", embed=True)

#