## Evolution of patenting activity in Europe - An analysis of technological fields

In this notebook, we analyze the evolution of patenting activity in Europe, focusing on changes within individual technological fields as defined by the World Intellectual Property Organization (WIPO). Using data from PATSTAT Global, we will extract raw data, process it into a structured format using Pandas, and utilize third-party libraries to visualize the findings in an engaging manner. 

### Prerrequisites
This notebook has been written for an audience already familiar with TIP. For users completely new to the platform, we recommend to follow the [TIP basic course](https://e-courses.epo.org/course/view.php?id=416) before reading this analysis. 

### Disclaimer 
This notebook is published as a showcase of the capabilities of TIP as a data processing environment. It is not intended to derive any statistical conclusion other than the presentation of the retrieved data. The EPO is not expressing any opinion extrapolated from the analysis.

### The WIPO technology fields
WIPO provides a comprehensive technology concordance table that is particularly useful for studying general technology trends. Patent classification schemes such as the International Patent Classification (IPC) can often be too granular for broad statistical analysis. To address this, the WIPO concordance organizes IPC symbols into 35 distinct technology fields, further grouped into five higher-level technology sectors:

- Electrical engineering
- Instruments
- Chemistry
- Mechanical engineering
- Other fields

The PATSTAT Global database links IPC symbols to WIPO technology fields via the `TLS230_APPLN_TECHN_FIELD` table, which serves as the foundation for our analysis.

## Initialization
As with any analysis involving PATSTAT, we need to initialize the client. The PATSTAT client can be initialized in production with access to the whole PATSTAT database, or in test with a smaller test database. This notebook is published with the client initialized in production with `env='PROD'`. If you want to modify it, we recommend you initialze the client with `env='TEST'` to reduce the time to process your queries. When you are happy with your code and are ready to conduct the real analysis, you can change the environment to production.

We will be working with object relational mapping (ORM) as the recommended method of retrieving data from PATSTAT. For that need to import the three PATSTAT tables we will be working with.

In [1]:
from epo.tipdata.patstat import PatstatClient

# Initialize the PATSTAT client
patstat = PatstatClient(env='PROD')

# Access ORM
db = patstat.orm()

# Importing the necessary tables
from epo.tipdata.patstat.database.models import TLS201_APPLN, TLS901_TECHN_FIELD_IPC, TLS230_APPLN_TECHN_FIELD

# Retrieving the data
We are going to get the `application_id`, the year of filing, the technical field number and the weight associated with each technical field, for applications filed up to 2022. For that, we need to join the tables `TLS201_APPLN` and `TLS230_APPLN_TECHN_FIELD`, since table 230 is the one containing the relationship between each application and its technical fields.

In [2]:
q = db.query(
    TLS201_APPLN.appln_id,
    TLS201_APPLN.appln_filing_year.label('Year'),
    TLS230_APPLN_TECHN_FIELD.techn_field_nr,
    TLS230_APPLN_TECHN_FIELD.weight
).join(
    TLS230_APPLN_TECHN_FIELD, TLS201_APPLN.appln_id == TLS230_APPLN_TECHN_FIELD.appln_id
).filter(
    TLS201_APPLN.appln_filing_year <= 2022, 
    TLS201_APPLN.appln_auth == 'EP',
)

res = patstat.df(q)

res

          appln_id  Year  techn_field_nr    weight
0        405364654  2013              22  0.250000
1        546671899  2020              22  0.125000
2        547771719  2020              22  0.142857
3        376821126  2012              22  0.166667
4        364336892  2012              22  0.076923
...            ...   ...             ...       ...
6831219   17320425  1998              35  1.000000
6831220  535865597  2019              35  0.111111
6831221  329288306  2010              35  1.000000
6831222   16376053  2007              35  0.666667
6831223   16626344  1986              35  1.000000

[6831224 rows x 4 columns]

## Understanding the query
This query retrieves data on European patent applications, focusing on their filing year, technological field, and associated weights from the **PATSTAT** database.

### `db.query`:
Creates the query object that specifies what columns to retrieve.

- **`TLS201_APPLN.appln_id`**: The unique identifier for each patent application.
- **`TLS201_APPLN.appln_filing_year`**: The year the patent application was filed. This column is labeled as `'Year'` for clarity in the resulting DataFrame.
- **`TLS230_APPLN_TECHN_FIELD.techn_field_nr`**: The code representing the technological field associated with the application.
- **`TLS230_APPLN_TECHN_FIELD.weight`**: A numerical value indicating the relative contribution of this application to the technological field.


### Joining Tables

The query joins two tables:
1. **`TLS201_APPLN`**: Contains general information about patent applications.
2. **`TLS230_APPLN_TECHN_FIELD`**: Contains data linking applications to their respective WIPO technology fields and weights.

The join is based on the `appln_id` column, which is present in both tables and serves as the foreign key linking them.


### Filtering Results
Filters the query results to include only:
1. Applications filed on or before the year 2022 (`TLS201_APPLN.appln_filing_year <= 2022`).
2. Applications with `'EP'` (European Patent Office) as the authority (`TLS201_APPLN.appln_auth == 'EP'`).


### Result

The variable **`res`** holds the resulting DataFrame, which contains the following columns:
- **`appln_id`**: Unique application identifier.
- **`Year`**: Year of application filing.
- **`techn_field_nr`**: Technology field code.
- **`weight`**: Relative weight of the application in its technology field.

Since the query joins the `TLS201_APPLN` and `TLS230_APPLN_TECHN_FIELD` tables, an application (`appln_id`) can appear multiple times in the resulting DataFrame. This occurs because a single application can be associated with multiple WIPO technology fields (`techn_field_nr`). Each record represents one unique combination of an application and its corresponding technology field, along with the relative weight (`weight`) indicating its contribution to that field.

## The weights  in `TLS230_APPLN_TECHN_FIELD`
These weights reflect the proportional contribution of a patent application to a specific WIPO technology field. The weight is calculated by dividing 1 by the number of unique IPC subclasses assigned to the application. If a patent is classified into multiple IPC subclasses, each subclass receives an equal fraction of the total weight. This ensures that each patent contributes equally to the technological fields it is assigned to, avoiding overrepresentation of applications with extensive classification coverage.

For more information about the weights please consult the [data catalogue](https://link.epo.org/web/searching-for-patents/business/patstat/data-catalog-patsat-global-spring-en.pdf).

## Aggregating the weights
The next step for the analysis is to aggregate the weights per year and per technology field. Here it is important to consider that although there can be multiple entries for a given application in our dataframe, the sum of the weights for one given application should be one. It follows that when we sum the weights per field we are not counting applications more than once. What is happening is that the contribution of each application to each technology field for that year is accurately distributed. 


In this analysis, we will use pandas DataFrames, a versatile tool for data manipulation and analysis in Python, allowing efficient operations like filtering, aggregation, and reshaping. Pandas comes preinstalled in TIP so every time you generate a DataFrame like `res` you can use pandas functions like `groupby`.

In [3]:
# Group by 'Year' and 'techn_field_nr' and count the number of 'appln_id'
aggregated = res.groupby(['Year', 'techn_field_nr'])['weight'].sum().reset_index()

# Round the 'weight' column to integers
aggregated['weight'] = aggregated['weight'].round().astype(int)

# Display the aggregated DataFrame
aggregated

      Year  techn_field_nr  weight
0     1978               1     182
1     1978               2      40
2     1978               3      35
3     1978               4       7
4     1978               5      13
...    ...             ...     ...
1566  2022              31    3030
1567  2022              32    6885
1568  2022              33    2188
1569  2022              34    2916
1570  2022              35    3157

[1571 rows x 3 columns]

### Understanding the aggregated DataFrame
With the use of `groupby` we now have, for each year in the period 1978-2022, the sum of weights per technical field, for the applications filed on each specific year. For example, in 1978 there was a combined weight of 182 for technical field number one from applications filed that year. In order to have a complete analysis we need to retrieve the actual names of the technology fields, which we will do next.

## Retrieving the names of the technology fields

The `TLS901_TECH_FIELD_IPC` table provides descriptive names (`techn_field`) for the numerical technology field identifiers (`techn_field_nr`). These names make the analysis more intuitive, as the numerical codes alone are not descriptive enough.

We query PATSTAT Global again to get the technical field names.

In [5]:
q = db.query(
    TLS901_TECHN_FIELD_IPC.techn_field_nr,
    TLS901_TECHN_FIELD_IPC.techn_field,
    TLS901_TECHN_FIELD_IPC.techn_sector       
)
fields  = patstat.df(q)

fields

,techn_field_nr,techn_field,techn_sector
0,1,"Electrical machinery, apparatus, energy",Electrical engineering
1,1,"Electrical machinery, apparatus, energy",Electrical engineering
2,1,"Electrical machinery, apparatus, energy",Electrical engineering
3,1,"Electrical machinery, apparatus, energy",Electrical engineering
4,1,"Electrical machinery, apparatus, energy",Electrical engineering
...,...,...,...
765,35,Civil engineering,Other fields
766,35,Civil engineering,Other fields
767,35,Civil engineering,Other fields
768,35,Civil engineering,Other fields
769,35,Civil engineering,Other fields

### Understanding multiple entries for each field

The `TLS901_TECH_FIELD_IPC` table includes not only the technology fields (`techn_field_nr` and `techn_field`) but also the broader sectors (`techn_sector`) to which each field belongs. Since there are multiple fields within each sector, this table contains repeated entries for each field, corresponding to its association with a specific sector. This structure allows for the hierarchical organization of technology. 

We are not interested in the broader sectors, so we use Pandas `drop_duplicates` function to keep one entry for each field. We also drop the column `tech_sector` since we are no longer interested in it.

In [6]:
unique_fields = fields.drop_duplicates().drop(columns=['techn_sector'])
unique_fields

     techn_field_nr                              techn_field
0                 1  Electrical machinery, apparatus, energy
30                2                  Audio-visual technology
48                3                       Telecommunications
58                4                    Digital communication
61                5            Basic communication processes
71                6                      Computer technology
88                7                IT methods for management
89                8                           Semiconductors
91                9                                   Optics
101              10                              Measurement
146              11         Analysis of biological materials
147              12                                  Control
160              13                       Medical technology
172              14                   Organic fine chemistry
181              15                            Biotechnology
189              16                          Pharmaceuticals
213              17       Macromolecular chemistry, polymers
220              18                           Food chemistry
246              19                Basic materials chemistry
279              20                    Materials, metallurgy
295              21              Surface technology, coating
307              22     Micro-structural and nano-technology
311              23                     Chemical engineering
364              24                 Environmental technology
382              25                                 Handling
395              26                            Machine tools
438              27                 Engines, pumps, turbines
473              28               Textile and paper machines
523              29                   Other special machines
569              30          Thermal processes and apparatus
599              31                      Mechanical elements
620              32                                Transport
666              33                         Furniture, games
683              34                     Other consumer goods
732              35                        Civil engineering

### Merging the two dataframes

In this step, we merge the aggregated weights DataFrame with the unique fields DataFrame. This allows us to replace the numerical `techn_field_nr` with its corresponding descriptive name (`techn_field`). 

The merge is performed using the `techn_field_nr` column as the key, with an inner join to ensure only matching rows from both DataFrames are included in the result.

Alternatively, this merge could also have been achieved by directly joining the `TLS230_APPLN_TECHN_FIELD` table with the `TLS901_TECH_FIELD_IPC` table in the query step. In this notebook we are doing the merging of the dataframes from two different queries to show this posibility of post processing of data and to give a clearer view of the data in each table.

In [7]:
merged = aggregated.merge(unique_fields, on=['techn_field_nr', 'techn_field_nr'], how='inner')
merged

      Year  techn_field_nr  weight                              techn_field
0     1978               1     182  Electrical machinery, apparatus, energy
1     1978               2      40                  Audio-visual technology
2     1978               3      35                       Telecommunications
3     1978               4       7                    Digital communication
4     1978               5      13            Basic communication processes
...    ...             ...     ...                                      ...
1566  2022              31    3030                      Mechanical elements
1567  2022              32    6885                                Transport
1568  2022              33    2188                         Furniture, games
1569  2022              34    2916                     Other consumer goods
1570  2022              35    3157                        Civil engineering

[1571 rows x 4 columns]

## Formatting the merged DataFrame
In this analysis, as discussed above, we are not strictly counting applications, but aggregating the weights of each technology field in each application. However, for storytelling purposes we consider that our stakeholders do not know the details of patstat and we use the accumulated weight for each field and year as a proxy for patenting activity. 

In fact, when running the same analysis by counting the applications only once, considering only the top weight per application, we get very similar numbers. 

Based on the above, we will rename the column `weight` as `Applications` and give the others descriptive names.

In [8]:
final = merged.drop(columns=['techn_field_nr'])
final = final.rename(columns={'Year': 'Year', 'weight': 'Applications', 'techn_field': 'Field'})
final

      Year  Applications                                    Field
0     1978           182  Electrical machinery, apparatus, energy
1     1978            40                  Audio-visual technology
2     1978            35                       Telecommunications
3     1978             7                    Digital communication
4     1978            13            Basic communication processes
...    ...           ...                                      ...
1566  2022          3030                      Mechanical elements
1567  2022          6885                                Transport
1568  2022          2188                         Furniture, games
1569  2022          2916                     Other consumer goods
1570  2022          3157                        Civil engineering

[1571 rows x 3 columns]

# Pivoting the dataframe
To make the data more understandable, we pivot the DataFrame so that each technology field becomes a column, with the rows indexed by year. This structure allows for a clearer overview of how patent applications are distributed across different fields over time.We will set the year as the index, which is a pre-requisite for the creation of the video that we will do next.

In [9]:
### Pivot the DataFrame with 'Year' as the index and 'Field' as the columns
pivoted = final.pivot(index='Year', columns='Field', values='Applications')

# Display the pivoted DataFrame
pivoted

Field,Analysis of biological materials,Audio-visual technology,Basic communication processes,Basic materials chemistry,Biotechnology,Chemical engineering,Civil engineering,Computer technology,Control,Digital communication,...,Organic fine chemistry,Other consumer goods,Other special machines,Pharmaceuticals,Semiconductors,"Surface technology, coating",Telecommunications,Textile and paper machines,Thermal processes and apparatus,Transport
Year,,,,,,,,,,,,,,,,,,,,,
1978,10.0,40.0,13.0,198.0,45.0,121.0,118.0,17.0,54.0,7.0,...,596.0,24.0,147.0,181.0,97.0,46.0,35.0,78.0,76.0,114.0
1979,78.0,271.0,127.0,610.0,115.0,410.0,443.0,218.0,165.0,69.0,...,1315.0,165.0,501.0,399.0,226.0,220.0,181.0,399.0,289.0,411.0
1980,120.0,540.0,292.0,987.0,268.0,793.0,740.0,465.0,295.0,130.0,...,1659.0,370.0,888.0,519.0,456.0,406.0,356.0,727.0,498.0,726.0
1981,159.0,710.0,366.0,1141.0,347.0,952.0,951.0,657.0,396.0,137.0,...,1927.0,516.0,1140.0,684.0,546.0,567.0,467.0,965.0,732.0,1029.0
1982,163.0,951.0,423.0,1227.0,416.0,1002.0,1055.0,734.0,457.0,145.0,...,1999.0,562.0,1368.0,745.0,655.0,541.0,481.0,995.0,639.0,1116.0
1983,219.0,1235.0,495.0,1304.0,546.0,1103.0,1202.0,864.0,505.0,219.0,...,2133.0,660.0,1429.0,921.0,697.0,570.0,606.0,1100.0,638.0,1154.0
1984,260.0,1453.0,579.0,1456.0,850.0,1241.0,1423.0,994.0,592.0,254.0,...,2382.0,746.0,1731.0,1038.0,782.0,751.0,626.0,1309.0,724.0,1363.0
1985,317.0,1573.0,566.0,1401.0,993.0,1380.0,1461.0,1077.0,561.0,288.0,...,2531.0,795.0,1828.0,1287.0,891.0,795.0,729.0,1269.0,720.0,1461.0
1986,338.0,1721.0,684.0,1609.0,1136.0,1524.0,1536.0,1257.0,632.0,306.0,...,2444.0,863.0,1995.0,1460.0,950.0,817.0,844.0,1374.0,731.0,1715.0
1987,385.0,1866.0,626.0,1848.0,1270.0,1592.0,1485.0,1389.0,660.0,302.0,...,2662.0,940.0,2108.0,1637.0,978.0,876.0,879.0,1441.0,691.0,1807.0
1988,462.0,2125.0,811.0,1859.0,1449.0,1708.0,1763.0,1606.0,825.0,381.0,...,3002.0,977.0,2301.0,1894.0,1239.0,1017.0,983.0,1878.0,738.0,2137.0
1989,462.0,2403.0,869.0,2196.0,1633.0,1831.0,1880.0,2012.0,881.0,472.0,...,3256.0,1139.0,2394.0,2082.0,1345.0,1086.0,1186.0,2185.0,756.0,2312.0
1990,476.0,2843.0,955.0,2315.0,1812.0,2117.0,2147.0,2465.0,942.0,616.0,...,3332.0,1166.0,2708.0,2439.0,1643.0,1179.0,1488.0,2429.0,860.0,2488.0
1991,415.0,2681.0,897.0,2066.0,1807.0,1988.0,1820.0,2628.0,918.0,672.0,...,3073.0,995.0,2412.0,2329.0,1589.0,1095.0,1496.0,2227.0,784.0,2230.0
1992,450.0,2733.0,848.0,2145.0,1794.0,1961.0,1777.0,2429.0,863.0,703.0,...,3176.0,1056.0,2461.0,2530.0,1535.0,1130.0,1663.0,2237.0,872.0,2341.0
1993,456.0,2707.0,875.0,2194.0,1703.0,1947.0,1993.0,2395.0,930.0,854.0,...,3121.0,1116.0,2315.0,2490.0,1403.0,1034.0,1699.0,2171.0,851.0,2268.0
1994,480.0,2626.0,962.0,2359.0,1862.0,2111.0,2044.0,2527.0,911.0,923.0,...,3095.0,1142.0,2318.0,2850.0,1407.0,1053.0,1869.0,2231.0,963.0,2414.0
1995,485.0,2738.0,874.0,2371.0,2079.0,2031.0,2058.0,2829.0,1024.0,1174.0,...,3239.0,1175.0,2484.0,2962.0,1478.0,1104.0,2148.0,2360.0,923.0,2627.0
1996,576.0,3141.0,1029.0,2558.0,2341.0,2092.0,2154.0,3150.0,1107.0,1487.0,...,3362.0,1285.0,2531.0,3373.0,1650.0,1210.0,2464.0,2520.0,994.0,3182.0
1997,640.0,3423.0,1019.0,2836.0,2716.0,2253.0,2542.0,3532.0,1326.0,2010.0,...,3783.0,1432.0,2793.0,3874.0,1846.0,1338.0,3246.0,2631.0,1153.0,3666.0
1998,763.0,3748.0,1154.0,2779.0,3375.0,2454.0,2847.0,4158.0,1446.0,2640.0,...,3868.0,1582.0,3059.0,4539.0,2100.0,1425.0,4058.0,2984.0,1260.0,4061.0
1999,925.0,4189.0,1232.0,2942.0,3808.0,2566.0,3068.0,4748.0,1609.0,3635.0,...,4075.0,1633.0,3150.0,5333.0,2324.0,1623.0,4673.0,3084.0,1244.0,4435.0
2000,1044.0,4476.0,1449.0,3070.0,4135.0,2862.0,3236.0,5869.0,1768.0,4491.0,...,4281.0,1867.0,3451.0,6309.0,2795.0,1644.0,5034.0,3223.0,1303.0,4886.0
2001,1255.0,4813.0,1514.0,3039.0,4444.0,2902.0,3173.0,6371.0,2043.0,5301.0,...,4517.0,1867.0,3391.0,6755.0,2857.0,1795.0,5063.0,3172.0,1410.0,5157.0
2002,1270.0,4835.0,1464.0,2991.0,4330.0,2840.0,3058.0,6527.0,1971.0,5497.0,...,4595.0,1868.0,3547.0,7088.0,2831.0,1843.0,4479.0,3060.0,1420.0,5036.0
2003,1243.0,5719.0,1409.0,2961.0,4368.0,2928.0,3112.0,6636.0,1889.0,5744.0,...,4915.0,2105.0,3547.0,7095.0,2924.0,1936.0,4235.0,3407.0,1596.0,5689.0
2004,1245.0,6128.0,1256.0,3010.0,4330.0,2998.0,3514.0,7782.0,2084.0,6474.0,...,5425.0,2396.0,3550.0,6922.0,3010.0,1985.0,4471.0,3078.0,1720.0,5912.0
2005,1304.0,6154.0,1287.0,3430.0,4330.0,3131.0,3696.0,8436.0,2233.0,7041.0,...,5485.0,2475.0,3663.0,7346.0,3110.0,2074.0,4664.0,3288.0,1994.0,6413.0
2006,1404.0,5847.0,1241.0,3788.0,4576.0,3176.0,3737.0,8509.0,2183.0,8164.0,...,5466.0,2611.0,3810.0,8065.0,3359.0,2065.0,4666.0,3038.0,2009.0,6578.0
2007,1425.0,5306.0,1167.0,3917.0,4485.0,3213.0,3893.0,8002.0,2103.0,8711.0,...,5262.0,2786.0,3795.0,7445.0,3165.0,2015.0,4435.0,2747.0,2063.0,6591.0
2008,1394.0,4849.0,1080.0,3744.0,4442.0,3197.0,4050.0,7617.0,2222.0,9054.0,...,4728.0,2726.0,3923.0,7085.0,3112.0,1938.0,4247.0,2791.0,2210.0,6783.0
2009,1369.0,4123.0,1010.0,3595.0,4233.0,3099.0,3922.0,7474.0,1952.0,8656.0,...,4761.0,2533.0,3627.0,6563.0,3327.0,1870.0,3776.0,2351.0,2390.0,5800.0
2010,1300.0,4178.0,1052.0,3627.0,4117.0,3090.0,4352.0,7933.0,1896.0,9211.0,...,4452.0,2885.0,4002.0,6313.0,3538.0,1998.0,3900.0,2051.0,2683.0,6093.0
2011,1329.0,4340.0,951.0,3632.0,4025.0,3306.0,4444.0,8774.0,1864.0,9823.0,...,4139.0,2901.0,4196.0,6288.0,3356.0,2065.0,3707.0,2238.0,2640.0,6962.0
2012,1370.0,4423.0,1065.0,3675.0,4111.0,3291.0,4604.0,9150.0,2065.0,10587.0,...,4108.0,2940.0,4328.0,5971.0,3142.0,2070.0,3616.0,2182.0,2560.0,7131.0
2013,1360.0,4187.0,936.0,3841.0,4200.0,3340.0,4561.0,10257.0,2213.0,11816.0,...,3966.0,3041.0,4462.0,6231.0,3093.0,2143.0,3914.0,2105.0,2597.0,7269.0
2014,1297.0,3987.0,1036.0,3661.0,4613.0,3365.0,4502.0,10801.0,2368.0,11881.0,...,4151.0,3326.0,4892.0,6679.0,3010.0,2240.0,3518.0,2289.0,2500.0,7557.0
2015,1308.0,3997.0,1051.0,3729.0,4578.0,3338.0,4353.0,10458.0,2580.0,11987.0,...,4052.0,3376.0,5074.0,6493.0,2857.0,2185.0,3563.0,2284.0,2638.0,7457.0
2016,1310.0,3825.0,976.0,3772.0,4880.0,3507.0,4249.0,10548.0,2681.0,11699.0,...,3982.0,3744.0,5445.0,6811.0,2745.0,2319.0,3503.0,2496.0,2651.0,8029.0
2017,1317.0,4126.0,1026.0,3819.0,4771.0,3469.0,4425.0,10753.0,2999.0,12682.0,...,3846.0,3715.0,5719.0,6931.0,3252.0,2373.0,3703.0,2500.0,2591.0,8463.0
2018,1276.0,4083.0,1076.0,3601.0,4889.0,3491.0,4423.0,11044.0,3196.0,14052.0,...,3772.0,3630.0,5953.0,6983.0,2976.0,2491.0,3848.0,2443.0,2745.0,8732.0
2019,1221.0,4807.0,1008.0,3549.0,5222.0,3566.0,4189.0,12913.0,3305.0,13758.0,...,3860.0,4223.0,5854.0,7534.0,3210.0,2360.0,3695.0,2404.0,2603.0,8869.0
2020,1286.0,5174.0,1034.0,3514.0,5571.0,3508.0,4158.0,13925.0,3208.0,15107.0,...,3975.0,4304.0,5823.0,8144.0,3483.0,2466.0,4022.0,2127.0,2606.0,8374.0
2021,1254.0,4283.0,872.0,3566.0,6090.0,3458.0,4071.0,13708.0,3074.0,14540.0,...,3882.0,4135.0,5483.0,8789.0,3666.0,2445.0,3761.0,1919.0,2477.0,8333.0
2022,878.0,3218.0,747.0,2494.0,4241.0,2622.0,3157.0,10931.0,2289.0,9457.0,...,2631.0,2916.0,4403.0,5753.0,3117.0,1890.0,2594.0,1466.0,2039.0,6885.0

## Storytelling with data

One of the advantages of using TIP is the ability to integrate external libraries to enhance data visualization and storytelling. For this notebook, we have chosen to create a **bar chart race video** that dynamically shows the evolution of patent applications across technology fields over time.

### Installing the `bar_chart_race` library 
In TIP, you can install python libraries directly within the notebook using commands like `pip install`. However, it is important to note that any libraries installed during your session will not persist once the session is closed. 

For this reason, it is a good practice to include the installation command for external libraries in the notebook itself. This ensures that anyone running the notebook in the future can install the necessary dependencies without additional effort.

In [ ]:
pip install bar_chart_race --quiet

### Removing odd years to smoothen the transitions in the video

To make the video smoother and more visually appealing, we filtered the data to include only **even years**. This adjustment reduces abrupt transitions while retaining the overall trends in the data resulting in a more visually appealing video. 

The filtering is performed using the condition `pivoted.index % 2 == 0`, which checks if the year (index) is divisible by 2.

In [ ]:
# Filter the DataFrame to include only even years
pivoted_even_years = pivoted[pivoted.index % 2 == 0]

# Display the filtered DataFrame
pivoted_even_years

### Generating the video
We use the `bar_chart_race` to generate a video based on the pivoted DataFrame. The explanation on how to use this library is outside the scope of this notebook. You can get more information on how to use this library in its [official documentation](https://www.dexplo.org/bar_chart_race/). The video will be created and saved in the same folder where this notebook is saved. 

**Note:** The process of generating the video should last a few minutes. The file race.mp4 is generated at the beginning of the process and gets updated by the code below every few seconds. Give the script time to finish before you watch or download the video. There is a warning issued when running the code below. This is to be expected.

In [ ]:
import bar_chart_race as bcr
bcr.bar_chart_race(
    df=pivoted_even_years,
    filename='race.mp4',
    orientation='h',
    sort='desc',
    n_bars=10,
    fixed_order=False,
    fixed_max=False,  
    steps_per_period=720,
    period_length=5000,
    interpolate_period=True,
    period_label={'x': .99, 'y': .25, 'ha': 'right', 'va': 'center'},
    period_fmt='{x:.0f}',
    cmap='dark12',
    title='Applications per year',
    bar_label_size=7,
    tick_label_size=7,
    scale='linear',
    fig=None,
    writer=None,
    bar_kwargs={'alpha': .7},
    filter_column_colors=True
)

## Displaying the video in TIP
With the code above we have created a video `race.mp4` that gets stored in your TIP workspace. If you do not want to save the video but simply visualize it in your notebook you can set `filename = None` in the `bar_chart_race` function. 

The next block of code allows you to display any mp4 video that you have stored on your TIP workspace.

In [ ]:
from IPython.display import Video

# Ensure the correct path to your MP4 file
Video("race.mp4", embed=True)

## Conclusion 
In this notebook we have explored the possibilities of TIP for retrieving data about the technical fields of the European applications. This is nothing new, since you can retrieve the exact same data from PATSTAT online. We did not stop there, though. By using the built-in pandas library, we have combined the data from two queries and processed the combined data to build powerful storytelling visuals. 

Feel free to clone this notebook from its GitHub repository and adjust it to your patent data intelligence needs!